{% extends 'base.html' %}
{% block title %}ALL FOR MUSIC{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/Index.css">
{% endblock %}
{% block content %}

    <main>
        <form action="{{ url_for('index_index.search_event') }}" method="post" class="mb-4">
            {{ search_form.csrf_token }}
            <div class="form-row align-items-center">
                <div class="col-sm-2">
                    {{ search_form.keyword(class="form-control form-control-lg", placeholder="Search event...") }}
                </div>
                <div class="col-auto">
                    {{ search_form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </div>
        </form>


        <section id="What's On" class="whatson">

            {% if events|length > 0 %}

                <div class="whatson-heading">
                    <h1>What's On</h1>

                </div>

                {% for event in events %}
                    <article class="whatson-event">
                        <a href="/index/event/detail.html?id={{ event.id }}" style="text-decoration: none;">
                            <img src="/static/uploads/image/{{ event.eventImage }}"
                                 alt="Adele" style="width:400px;height:300px;">
                        </a>
                        <div>
                            <h3 style="font-size:150%;">
                                <a href="/index/event/detail.html?id={{ event.id }}"
                                   style="text-decoration: none;">{{ event.eventName }}</a>
                            </h3>
                            <p><i>{{ event.eventDate }}</i></p>
                            <p style="color:red;"><b>{{ event.location }}</b></p>
                            <p>{{ event.tags }}</p>
                        </div>

                    </article>
                {% endfor %}

            {% endif %}


        </section>

        <section id="Upcoming" class="upcoming">

            {% if Upcoming|length > 0 %}

                <div class="upcoming-heading">
                    <h1>Upcoming</h1>
                </div>


                {% for event in Upcoming %}
                    <article class="whatson-event">
                        <a href="/index/event/detail.html?id={{ event.id }}" style="text-decoration: none;">
                            <img src="/static/uploads/image/{{ event.eventImage }}"
                                 alt="Adele" style="width:400px;height:300px;">
                        </a>
                        <div>
                            <h3 style="font-size:150%;">
                                <a href="/index/event/detail.html?id={{ event.id }}"
                                   style="text-decoration: none;">{{ event.eventName }}</a>
                            </h3>
                            <p><i>{{ event.eventDate }}</i></p>
                            <p style="color:red;"><b>{{ event.location }}</b></p>
                            <p>{{ event.tags }}</p>
                        </div>

                    </article>
                {% endfor %}

            {% endif %}
        </section>


        <section id="Category" class="category">

            {% if datas|length > 0 %}

                <div class="category-heading">
                    <h1>Category</h1>


                </div>

                {% for data in datas %}
                    <a href="/index/category/index.html?category={{ data.category }}" style="color: #000;">
                        <article class="whatson-event">
                            <img src="/static/uploads/image/{{ data.eventImage }}"
                                 alt="Classical" style="width:400px;height:300px;">
                            <div>
                                <h3>{{ data.category }}</h3>
                                <p>

                                </p>
                            </div>
                        </article>
                    </a>
                {% endfor %}

            {% endif %}

        </section>

        <section id="Contact Us" class="contactus">

            <div class="contactus-heading">
                <h1>Contact Us</h1>
            </div>


            <article>
                <a href="mailto:allformusic@outlook.com">
                <img src="https://play.tennis.com.au/Library/redheadtennisclub?command=Proxy&lang=en&type=Images&currentFolder=%2Fcoaching%2F&hash=665b8e01e64a6961a689712a1550ea064f49e224&fileName=contact-us-1908762__340.png"
                     alt="Contact Us" style="width:400px;height:300px;">
                </a>
                <div>

                </div>
            </article>
        </section>
    </main>


{% endblock %}
