{% extends 'base.html' %}
{% block title %}CreateAnEvent{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/CreateAnEvent.css">

{% endblock %}
{% block content %}

    <main>
        <section id="Create An Event" class="createanevent">

            <div class="createanevent-heading">
                <h1>Create An Event</h1>
            </div>
            <form id="my-form" action="/index/event/save.html" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="container">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-10 align-self-center">
                                <article class="whatson-event">
                                    <h3 style="font-size:150%;">Basic Information</h3>
                                    <div class="form-group">
                                        <label for="eventName">Event Name: </label>
                                        <!-- <input class="form-control" type="text" name="eventName" id="eventName" required> -->
                                        {{form.eventName}}
                                    </div>
                                    <div class="form-group">
                                        <label for="eventImage">Event Image: </label>
                                        <!-- <input class="form-control" type="file" id="eventImage"> -->
                                        {{form.file}}
                                        <!-- <input type="hidden" name="eventImage" value="" required> -->
                                        <!-- {{form.eventImage}} -->
                                    </div>
                                    <div class="form-group">
                                        <label for="eventOrganizer">Event Organizer: </label>
                                        <!-- <input class="form-control" type="text" name="eventOrganizer" id="eventOrganizer" required> -->
                                        {{form.eventOrganizer}}
                                    </div>

                                    <div class="form-group">
                                        <label for="price">Price: </label>
                                        <!-- <input class="form-control" type="text" name="price" id="price" required> -->
                                        {{form.price}}
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Category: </label>
                                        <!-- <input class="form-control" type="text" name="category" id="category" required> -->
                                        {{form.category}}
                                    </div>
                                    <div class="form-group">
                                        <label for="musician">Musician: </label>
                                        <!-- <input class="form-control" type="text" name="musician" id="musician" required> -->
                                        {{form.musician}}
                                    </div>
                                    <div class="form-group">
                                        <label for="tags">Tags: </label>
                                        <!-- <input class="form-control" type="text" name="tags" id="tags" required> -->
                                        {{form.tags}}
                                    </div>
                                    <div class="form-group">
                                        <label for="tags">Content: </label>
                                        <!-- <textarea class="form-control" name="content" id="content"></textarea> -->
                                        {{form.content}}
                                    </div>
                                </article>
                            </div>

                        </div>

                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-10 align-self-center">

                                <article class="whatson-event">

                                    <h3 style="font-size:150%;">Time and Date</h3>
                                    <div class="form-group">
                                        <label for="eventDate">Event Date: </label>
                                        <!-- <input class="form-control" type="date" name="eventDate" id="eventDate" required> -->
                                        {{form.eventDate}}
                                    </div> 
                                    <div class="form-group">
                                        <label for="startTime">Start Time: </label>
                                        <!-- <input class="form-control" type="time" name="startTime" id="startTime" required> -->
                                        {{form.startTime}}
                                    </div>
                                    <div class="form-group">
                                        <label for="endTime">End Time: </label>
                                        <!-- <input class="form-control" type="time" name="endTime" id="endTime" required> -->
                                        {{form.endTime}}
                                    </div>
                                    <div class="form-group">
                                        <label for="timeZone">Timezone: </label>
                                        <!-- <input class="form-control" type="text" name="timeZone" id="timeZone" required> -->
                                        {{form.timeZone}}
                                    </div>
                                    <div class="form-group">
                                        <label for="language">Event Language: </label>
                                        <!-- <input class="form-control" type="text" name="language" id="language" required> -->
                                        {{form.language}}
                                    </div>


                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-10 align-self-center">
                                <article class="whatson-event">
                                    <h3 style="font-size:150%;">Location</h3>
                                    
                                    <!-- <select class="form-select" name="locationType" aria-label="Default select example" required>
                                        <option selected>Select Location</option>
                                        <option value="1">Venue</option>
                                        <option value="2">Online Event</option>
                                        <option value="3">To be announced</option>
                                    </select> -->
                                    {{form.locationType}}
                                    <div class="form-group">
                                        <label for="location">Venue Location: </label>
                                        <!-- <input class="form-control" type="text" name="location" id="location"> -->
                                        {{form.location}}
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center p-4">
                            <div class="col-10">
                                <!-- <button type="submit" class="btn btn-danger w-100 save">Create</button> -->
                                {{form.submit}}
                            </div>
                        </div>

                    </div>

                </div>

            </form>

        </section>
        <section id="Contact Us" class="contactus">
            <div class="contactus-heading">
                <h1>Contact Us</h1>
            </div>
            <article>
                <img src="https://play.tennis.com.au/Library/redheadtennisclub?command=Proxy&lang=en&type=Images&currentFolder=%2Fcoaching%2F&hash=665b8e01e64a6961a689712a1550ea064f49e224&fileName=contact-us-1908762__340.png"
                     alt="Contact Us" style="width:400px;height:300px;object-fit: contain;">
                <div>
                </div>
            </article>
        </section>
    </main>


{% endblock %}


<!-- {% block js %}

    <script>
        $('.save').click(function () {
            var data = $("#my-form").serialize();
            $.ajax({
                url: "/index/event/save.html",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (res) {
                    if (res.state == 1) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {time: 1000}, function () {
                        });
                    }
                },
                error: function (res) {
                    layer.msg('Network connection failed, please try again later', {time: 1000}, function () {
                    });
                }
            });
        })

        var fileM = document.querySelector("#eventImage");
        $("#eventImage").change(function () {
            var formData = new FormData();
            var fileObj = fileM.files[0];
            formData.append('file', fileObj);
            $.ajax({
                url: "/common/uploads/index.html?path=image",
                type: "POST",
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.state == 1) {
                        $("input[name=eventImage]").val(data.path);
                    }
                    layer.msg(data.msg, {time: 1500});
                },
                error: function (data) {
                    layer.msg("网络错误", {time: 1500});
                }

            })
        })

    </script>
{% endblock %} -->

