{% include "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using WTForms -->
<!-- If you want more granular control, declare the form manually: -->
<!-- <form action="/route" method="post"> -->
<div class="col-md-6">
    {{wtf.render_form(form)}}
</div>

<!-- When you have login form, then show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('register') }}">Click here to register</a>.</p>
</div>
{% endif %}

{% endblock %}